<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post Event</title>
  </head>
  <style media="screen">
    body{
      font-family: helvetica;
      background-color: #C3C4C4;
    }
    input,textarea{
      font-family: helvetica;
      background-color: #272822;
      color: #FFFFFF;
    }
  </style>
  <body>
    <center>
    <form action="/postevent" method="post">
      Name : <input type="text" name="Name" ><br>
      TimeStamp : <input type="time" name="Timestamp" ><br>
      Genre : <input type="text" name="Genre" ><br>
      Venue : <input type="text" name="Venue" ><br>
      Description : <textarea type="text" name="Description" ></textarea><br>
      Contact : <input type="text" name="Contact" ><br>
      Postscript : <input type="text" name="Postscript" ><br>
      Links : <input type="text" name="Links" ><br>
      File : <input type="file" name="Image"><br>
    </form>
    </center>
  </body>
</html>
